.audio-frame {
  width: 340px;
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 39px;

  background-color: transparentize($color-alice-blue, 0.1);
  border: 2px solid $color-default-white;
}

.audio-frame__title {
  color: $color-resolution-blue;
  font-size: 22px;
  line-height: 1em;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 4px;
}

.audio-frame__subtitle {
  color: transparentize($color-resolution-blue, 0.5);
  font-size: 14px;
  line-height: 17px;

  margin-bottom: 49px;
}

.audio-frame__buttons-row {
  display: flex;
  justify-content: center;
}

.audio-frame__play-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;

  cursor: pointer;
  color: $color-default-white;
  border-width: 1px;
  border-style: solid;
  border-color: $color-default-white;
  border-radius: 50%;
  background: transparentize($color-default-white, 0.8);

  @include hover-focus {
    &:not(:disabled) {
      background: $color-transparent;
      border-color: $color-resolution-blue;

      svg:last-child {
        display: block;
      }
    }
  }

  @include active {
    &:not(:disabled) {
      background: $color-resolution-blue;
      border-color: $color-resolution-blue;
    }
  }

  &:disabled {
    background: $color-transparent;
    border-color: $color-additional;
    color: $color-additional;
    opacity: 0.1;
    cursor: default;
  }
}

.audio-frame__play-button svg {
  position: relative;
  z-index: 2;
  margin-left: 5px;
}

.audio-frame__play-button svg:last-child {
  position: absolute;
  display: none;
  z-index: 1;
  color: $color-black;
  top: 9.6px;
  left: 12.2px;
}
