.details {
  display: flex;
  gap: 53px;
  margin-top: 0;
}

.details__item {
  max-width: 110px;
}

.details__name {
  font-size: 12px;
  line-height: 1em;

  margin-bottom: 6px;
}

.details__value {
  font-weight: 700;
  font-size: 13px;
  line-height: 1em;

  margin-left: 0;
}

.details__value svg:not(:last-child) {
  margin-right: -2.7px;
}
