.details {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.details__item {
}

.details__name {
  font-size: 12px;
  line-height: 1em;

  margin-bottom: 6px;
}

.details__value {
  font-weight: 700;
  font-size: 13px;
  line-height: 1em;

  margin-left: 0;
}

.details__value svg {
  @include vp-767 {
    width: 12px;
    height: 11px;
  }
}

.details__value svg:not(:last-child) {
  margin-right: -2.7px;

  @include vp-767 {
    margin-right: -0.5px;
  }
}
