.gallery {
  max-width: 1725px;
  margin: 0 auto;
  padding-top: 65px;

  @include vp-1199 {
    padding-top: 27px;
  }
}

.gallery h2 {
  margin-bottom: 23px;

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.gallery p {
  width: 693px;

  @include vp-1199 {
    width: 60%;
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
}

.gallery__slider {
  margin-top: 46px;

  @include vp-1199 {
    margin-top: 37px;
  }

  @include vp-767 {
    margin-top: 64px;
  }
}

.gallery__slider-buttons-wrap {
  user-select: none;
  position: absolute;
  right: 0;
  top: 69px;

  @include vp-1199 {
    top: 66px;
  }

  @include vp-767 {
    top: auto;
    bottom: -50px;
  }
}

.gallery__slider .swiper-slide {
  width: auto;
  height: auto;

  @include vp-767 {
    width: 35%;
    min-width: 159px;
  }
}

.gallery__slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-1199 {
    gap: 5px;
  }

  @include vp-767 {
    gap: 3px;
  }

  @include only-320 {
    height: 259px;
  }
}

.gallery__slide picture {
  height: 100%;
}

.gallery__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    min-height: 103px;
    height: 100%;
  }
}

.gallery__slide-img-small img {
  @include only-320 {
    height: auto;
  }
}
