.hero__slider {
  position: relative;
  z-index: 2;

  color: $color-default-white;
}

.hero__slider .swiper-wrapper {
  position: relative;
  z-index: 10;
}

.hero__slide {
  padding-top: 80px;
  padding-bottom: 79.5px;
  position: relative;
  z-index: 10;

  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 167.5px;
  }

  @include vp-767 {
    padding-top: 90px;
    padding-bottom: 103.5px;
  }
}

.hero__content {
  position: relative;
  z-index: 1;
  margin-bottom: 149px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.hero__content h1 {
  margin-top: 0;
  margin-bottom: 22px;
  max-width: 947px;
  position: relative;
  z-index: 1;

  font-size: 77px;
  line-height: 1em;
  font-weight: 800;

  @include vp-1199 {
    margin-bottom: 13px;

    font-size: 56px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 13px;

    font-size: 30px;
  }
}

.hero__content p {
  width: 460px;
  margin-top: 0;
  margin-bottom: 37px;

  font-size: 17px;
  line-height: 24px;

  @include vp-1199 {
    width: 69%;
    text-align: center;
    margin-bottom: 27px;
  }

  @include vp-767 {
    width: 98%;
    margin-bottom: 21px;

    font-size: 15px;
    line-height: 20px;
  }
}

.hero__content a {
  padding-top: 17px;
  padding-right: 15px;
  padding-bottom: 17px;
  padding-left: 15px;
  min-width: 220px;
  max-width: 250px;

  @include vp-1199 {
    min-width: auto;
    max-width: 100%;
    width: 30.5%;
    margin-bottom: 48px;
  }

  @include vp-767 {
    width: 62%;
    padding-top: 14px;
    padding-bottom: 13px;
  }
}

.hero__card {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -92px;

  &--two {
    bottom: -83px;
  }

  &--three {
    bottom: 5px;
  }

  @include vp-1199 {
    position: relative;
    bottom: 0;

    &--three {
      bottom: -19px;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.hero__row {
  position: relative;
  z-index: 3;
  display: flex;

  @include vp-1199 {
    display: none;
  }
}

.hero__info {
  display: inline-flex;
  align-items: center;
  padding: 13px 20px;
  margin-right: 10px;
  max-width: 200px;

  font-size: 12px;
  line-height: 16px;
  background-color: $color-transparent;
  border: 1px solid transparentize($color-default-white, 0.5);
}

.hero__info svg {
  margin-right: 9px;
}

.hero__slider .swiper-pagination {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  width: auto;
  right: -4px;
  bottom: 97px;

  @include vp-1199 {
    right: 0;
    bottom: 90px;
    justify-content: center;
  }

  @include vp-767 {
    bottom: 40px;
    gap: 4px;
  }
}

.hero__slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  opacity: 1;
  background-color: $color-transparent;
  border: 1px solid $color-default-white;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__slider .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}
