.main-footer {
  padding-top: 31px;
  padding-bottom: 30px;

  border-top: 1px solid transparentize($color-default-dark, 0.8);

  @include vp-1199 {
    padding-top: 4px;
    padding-bottom: 40px;
  }
}

.main-footer__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    align-items: flex-start;
  }
}

.main-footer__nav {
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 21px;
  }
}

.main-footer__list-wrap {
  display: flex;
  margin-right: 64px;

  @include vp-1199 {
    margin-right: 0;
  }

  @include vp-767 {
    margin-top: 12px;
  }
}

.main-footer__list:first-child {
  margin-right: 22px;

  @include vp-1199 {
    margin-right: 11px;
  }

  @include vp-767 {
    margin-right: 71px;
  }
}

.main-footer__social {
  margin-bottom: 20px;

  @include vp-767 {
    margin-left: 20px;
  }
}

.main-footer__privacy {
  @include vp-767 {
    margin-left: 20px;
  }
}
