.main-header {
  position: relative;

  background-color: $color-additional;

  @include vp-1199 {
    padding-top: 0;
  }
}

.main-header__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  // width: 100%;
  // height: auto;
  z-index: 3;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
  }
}

.main-header__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header__row {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: 0;
  padding-top: 40px;

  color: $color-default-white;

  @include vp-1199 {
    &:has(.main-nav--opened) {
      background-color: $color-default-white;
      color: $color-default-dark;
    }

    &:has(.main-nav--nojs) {
      background-color: $color-default-white;
      color: $color-default-dark;
    }
  }
}

.main-header__nav {
  margin-right: auto;
  margin-left: auto;
}

.main-header__logo {
  @include vp-1199 {
    margin-top: 0;
    margin-right: 30%;
    margin-bottom: 0;
    margin-left: auto;
  }

  @include only-768 {
    margin-right: 142px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.main-header__content {
  position: relative;
  z-index: 1;
}
