.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  max-width: 1290px;
  padding-right: 45px;
  padding-left: 45px;

  @include vp-1199 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  &--footer {
    @include vp-1199 {
      padding-right: 0;
      padding-left: 0;
    }

    @include vp-767 {
      flex-direction: column;
    }
  }
}

.main-nav__toggle {
  position: relative;
  display: none;
  width: 26px;
  height: 19px;

  border-top: 2px solid $color-default-white;
  border-right: none;
  border-bottom: 2px solid $color-default-white;
  border-left: none;
  background-color: $color-transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1.5px;
    left: 0;
    top: 7px;

    background-color: $color-default-white;
  }

  @include vp-1199 {
    display: inline-flex;
    margin-top: 12px;
  }

  @include vp-767 {
    margin-top: 3px;
  }
}

.main-nav--opened .main-nav__toggle {
  border-top: none;
  border-bottom: none;

  &::after,
  &::before {
    width: 24px;
    top: 8px;

    background-color: $color-default-dark;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1.5px;
    left: 0;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__list {
  @include vp-1199 {
    display: none;
  }
}

.main-nav__phone {
  margin-top: 22px;
  align-self: flex-start;

  @include vp-1199 {
    margin-top: 14px;

    &--tablet-hidden {
      display: none;
    }
  }

  @include vp-767 {
    position: absolute;
    right: 15px;
    bottom: -21px;
    margin-top: 0;
  }
}
