.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  width: 100%;
  max-width: 1290px;
  padding-right: 45px;
  padding-left: 45px;

  @include vp-1199 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main-nav__toggle {
  position: relative;
  display: none;
  width: 26px;
  height: 19px;

  border-top: 2px solid $color-default-white;
  border-right: none;
  border-bottom: 2px solid $color-default-white;
  border-left: none;
  background-color: $color-transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1.5px;
    left: 0;
    top: 7px;

    background-color: $color-default-white;
  }

  @include vp-1199 {
    display: inline-flex;
    margin-top: 12px;
  }

  @include vp-767 {
    margin-top: 3px;
  }
}

.main-nav--opened .main-nav__toggle {
  border-top: none;
  border-bottom: none;

  &::after,
  &::before {
    width: 24px;
    top: 8px;

    background-color: $color-default-dark;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1.5px;
    left: 0;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__list {
  @include vp-1199 {
    display: none;
  }
}

.main-nav__list {
  @include vp-1199 {
    position: absolute;
    top: 74px;
    left: 0;
  }
}

.main-nav__logo {
  @include vp-1199 {
    margin-left: 100px;
  }

  @include vp-767 {
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // margin-top: 0;
  }
}

.main-nav__phone {
  margin-top: 22px;
  align-self: flex-start;

  @include vp-1199 {
    margin-top: 14px;
  }

  @include vp-767 {
    position: absolute;
    right: 15px;
    bottom: -21px;
    margin-top: 0;
  }
}
