.review-card {
  display: flex;
  column-gap: 30px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  @include vp-1199 {
    padding-right: 32px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 466px;
    height: auto;
    flex-direction: column;
    padding-right: 20px;
  }
}

.review-card img {
  min-width: 258px;
  height: 253px;

  @include vp-1199 {
    object-fit: cover;
    min-width: 186px;
    height: 237px;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
  }
}

.review-card__text-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 17px;

  @include vp-1199 {
    padding-top: 3px;
    padding-bottom: 4px;
  }

  @include vp-767 {
    padding-bottom: 1px;
  }
}

.review-card__text-wrap p {
  font-size: 14px;
  line-height: 22px;

  margin-top: 0;
  margin-bottom: 10px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }

  @include vp-767 {
    width: calc(100% + 2px);
  }
}

.review-card__text-wrap p:last-of-type {
  @include vp-767 {
    margin-bottom: 16px;
  }
}

.review-card__caption {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-top: auto;
}

.review-card__name {
  font-size: 13px;
  line-height: 1em;
  font-weight: 700;

  @include vp-1199 {
    font-size: 12px;
  }
}

.review-card__info {
  font-size: 12px;
  line-height: 1em;
  font-weight: 300;
}
