.slide-cards {
  user-select: none;

  @include vp-767 {
    display: none;
  }
}

.slide-cards img {
  position: relative;
}

.slide-cards img:first-child {
  right: -175px;

  @include vp-1199 {
    top: -16px;
    right: auto;
    left: 31px;
    width: 266px;
    height: 351px;
  }
}

.slide-cards img:nth-child(2) {
  height: 366px;
  top: 93px;

  @include vp-1199 {
    width: 239px;
    height: 311px;
    top: 38px;
    left: -30px;
  }
}
