.slide-cards {
  user-select: none;

  @include vp-767 {
    display: none;
  }
}

.slide-cards__img-big {
  height: auto;
  position: relative;
  left: 175px;

  @include vp-1199 {
    left: 32px;
    top: -15px;
  }
}

.slide-cards__img-big img {
  @include vp-1199 {
    width: 266px;
    height: 351px;
  }
}

.slide-cards__img-small {
  align-self: flex-end;
  position: relative;
  top: 52px;

  @include vp-1199 {
    top: -2px;
    right: 30px;
  }
}

.slide-cards__img-small img {
  height: 366px;

  @include vp-1199 {
    width: 239px;
    height: 311px;
  }
}
