.video {
  width: 482px;
  height: 317px;
  user-select: none;

  @include vp-1199 {
    display: flex;
    justify-content: center;
    width: 65%;
    height: auto;
  }

  @include only-768 {
    height: 300px;
  }

  @include vp-767 {
    display: none;
  }
}

.video img {
  height: 100%;
}

.video__play-button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  top: calc(50% - 27px);
  left: calc(50% - 27px);

  cursor: pointer;
  color: $color-default-white;
  border-width: 1px;
  border-style: solid;
  border-color: $color-default-white;
  border-radius: 50%;
  background: transparentize($color-default-white, 0.8);

  @include hover-focus {
    &:not(:disabled) {
      background: $color-transparent;
      border-color: $color-resolution-blue;

      svg:last-child {
        display: block;
      }
    }
  }

  @include active {
    &:not(:disabled) {
      background: $color-resolution-blue;
      border-color: $color-resolution-blue;
    }
  }

  &:disabled {
    background: $color-transparent;
    border-color: $color-additional;
    color: $color-additional;
    opacity: 0.1;
    cursor: default;
  }
}

.video__play-button svg {
  position: relative;
  z-index: 2;
  margin-left: 5px;
}

.video__play-button svg:last-child {
  position: absolute;
  display: none;
  z-index: 1;
  color: $color-black;
  top: 13.7px;
  left: 15.4px;
}
